@using HelloMVCWorld.Models
@{ 
    ViewData["Title"] = "TemplateDelegate";

    Func<dynamic, object> movieTemplate = @<div>@item.Title [@item.ReleaseDate.ToShortDateString()]</div>;

    List<Movie> movies = new List<Movie>()
    {
        (new Movie()
        {
            Title = "The Godfather",
            ReleaseDate = new DateTime(1972, 3, 24)
        }),

        (new Movie()
        {
            Title = "Forest Gump",
            ReleaseDate = new DateTime(1994, 7, 6)
        }),

        (new Movie()
        {
            Title = "Fight Club",
            ReleaseDate = new DateTime(1999, 10, 15)
        }),
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>

    The movie brought in is <b>@Model.Title</b> which was released @Model.ReleaseDate.ToLongDateString()
    
    <br/> <br/>

    @foreach (var movie in movies)
    {
        @movieTemplate(movie)
    }

</body>
</html>
